{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- products -->

<div class="laptop">
   <div class="container">
      <div class="row">
         
         <div class="col-md-6">
            <div class="laptop_box">
               
            </div>
         </div>
      </div>
  
<div  class="products">
   <div class="container">
      {% for i in pg.object_list %}
      <div class="row">
         <div class="col-md-12">
            <div class="our_products">
               <div class="row">
                  <div class="col-md-4 margin_bottom1">
                     <div class="product_box">
                        <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="#"style="width:400px;height:500px;"/></figure>
                        <h3>{{i.name}}</h3></a>
                        <p>{{i.desc|truncatechars:17}}</p>
                        <br>
                        <p>Price:{{i.price}}Rs</p>
                        <br>
                        <p>Stock left:{{i.stock}}</p>
                     </div>
                  </div> 
					</div> 
				</div> 
			</div> 
      </div>
     
      {% endfor %}
      <center>
         {% for p in pg.paginator.page_range %}
         
         <a href="?page={{p}}" class="btn btn-info {% if pg.number == p %} active {% endif %}">{{p}}</a>
         
         
         
         {% endfor %}
              </center>
   </div>
</div> 
</div>
</div>
</div>

		{% endblock %}
   